@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-gradient {
  background: radial-gradient(
    51.39% 511.66% at 47.68% -217.91%,
    #ff9900 0%,
    #e50914 17.27%,
    #0e1b4f 79.44%,
    #000413 100%
  );
}

.billboard-video {
  aspect-ratio: 10/4;
}

.youtube-iframe-wrapper iframe {
  width: 180%;
  height: 180%;
}